fastapi
uvicorn[standard]
python-multipart
motor
pymongo
bcrypt
python-jose[cryptography]
pandas
requests
python-dotenv
better-profanity
pydantic
email-validator
python-socketio
langchain-huggingface
langchain-chroma
langchain-core
langchain_text_splitters
chromadb
sentence-transformers
apscheduler
bs4
rank_bm25
selenium
webdriver_manager
jupyter
tensorflow
tf-keras
scikit-learn
matplotlib
numpy